<tr ng-repeat="row in visible_rows" 
  ng-class="{highlight: highlightRowHandler(row)}"
  ng-attr-class="{{ (rowOffset + $index) % 2 ? 'odd' : 'even' }}">

  <td ng-repeat="column in columns track by column.id"
    class="mlhr-table-cell {{ column.cssClass }}"
    ng-class="{ 'column-selector': column.selector }"
    mlhr-table-cell
    uib-popover-html="getPopoverText()"
    popover-class="{{ column.popoverClass || 'mlhr-table-cell-popover-text ' + column.popoverClass }}"
    popover-title="{{ getPopoverTitle() }}"
    popover-trigger="{{ column.popoverTrigger || 'mouseenter' }}"
    popover-popup-delay="{{ column.popoverPopupDelay || 1000 }}"
    popover-placement='{{column.popoverPlacement || getPopoverPlacement($index/(columns.length-1))}}'
    popover-append-to-body="true">
  </td>

</tr>
